* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Times New Roman", SimSun;
	font-size: 12px;
	line-height: 18px;
}

a {
	text-decoration: none;
}

/* S ==============================考试样式============================== */
h3 {
	margin-bottom: 20px;
	font-size: 16px;
	text-shadow: 2px 2px 2px #ccc;
}

/* E ==============================考试样式============================== */

/* S ==============================消息样式============================== */
.title {
	margin-bottom: 50px;
	font-weight: bold;
	line-height: 120px;
	font-size: 30px;
	color: #000;
	text-align: center;
}

.container {
	margin: auto;
	width: 900px;
}

.container_bg {
	/* 	background-color: #DDDDDD 灰白纯色 */
	background-attachment: fixed;
	background-image: -moz-linear-gradient(top, #DDDDDD, #ffffff);
	background-image: -ms-linear-gradient(top, #DDDDDD, #ffffff);
	background-image: -webkit-linear-gradient(top, #DDDDDD, #ffffff);
	background-image: -O-linear-gradient(top, #DDDDDD, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD',
		endColorstr='#ffffff', GradientType=0);
	/* 	background-image:-moz-linear-gradient(top,#b8c4cb,#f6f6f8); 灰白渐变*/
	/* 	background-image:-O-linear-gradient(top,#3794FC,#FFF); 蓝白渐变*/
}

.top-nav {
	height: 40px;
	width: 898px;
	margin: auto;
	border: 1px solid #818181;
	/* 	background-image:linear-gradient(#818181,#818181); */
	box-shadow: 0 1px 1px #818181;
	list-style: none;
	overflow: hidden;
	background-color: #818181;
}

.authorName {
	float: left;
	padding: 12px 30px;
	color: #fafafa;
	font: bold 12px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

.releaseDate {
	float: left;
	padding: 12px 30px;
	color: #fafafa;
	font: bold 12px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

.top-nav li {
	float: left;
	position: relative;
}

.top-nav li a {
	float: left;
	padding: 12px 30px;
	color: #999;
	font: bold 12px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

.top-nav li a:hover {
	color: #fafafa;
}

/* DATAGRID LINE */
.lines-both .datagrid-body td {
	
}

.lines-no .datagrid-body td {
	border-right: 1px dotted transparent;
	border-bottom: 1px dotted transparent;
}

.lines-right .datagrid-body td {
	border-bottom: 1px dotted transparent;
}

.lines-bottom .datagrid-body td {
	border-right: 1px dotted transparent;
}
/* E ==============================消息样式============================== */

/* S ==============================主页样式============================== */
.header {
	background: url("../Image/header26.jpg") no-repeat scroll -100px top
		transparent;
	height: 70px;
	position: relative;
}

.center {
	background: url("../htbmImage/bg_map.png") no-repeat scroll 0px 0px;
	background-size: 100% 100%;
}

.footer {
	margin-top: 10px;
	text-align: center;
}
/* E ==============================主页样式============================== */

/* S ==============================门户样式============================== */
.left {
	float: left;
	background-color: #FFF;
	margin-top: 0px;
	margin-left: 0px;
	width: 220px;
	height: 480px;
	position: relative;
	border: 2px solid gray;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000
}

.l_01, .l_02, .l_03 {
	margin-top: 10px;
	text-align: center;
}

.right {
	float: right;
	background-color: #FFF;
	margin-top: 0px;
	margin-right: 0px;
	width: 630px;
	height: 480px;
	position: relative;
	border: 2px solid gray;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000
}

.r_01, .r_02, .r_03, .r_04, .r_05, .r_06, .r_07, .r_08, .r_09, .r_10,
	.r_11 {
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}

.tz, .xw, .zd, .dt, .jy, .zr, .kb, .ks, .bb {
	margin-top: 0px;
	margin-left: 20px;
}

.db, .tx, .bl, .jl, .qk, .jg {
	margin-top: 0px;
	margin-left: 5px;
}

.l_01:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.l_02:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.l_03:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_01:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_02:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_03:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_04:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_05:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_06:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_07:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_08:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_09:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_10:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.r_11:hover a {
	filter: alpha(opacity = 60);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
/* E ==============================门户样式============================== */

/* S ==============================业务样式============================== */

/* S-欢迎页面样式 */
.welcome {
	background: url("../htbmImage/bg_welcome.png") 0 0 no-repeat;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
}
/* E-欢迎页面样式 */

/* S-左侧菜单样式 */
.menuContainer {
	/* width:100%; */
	font-size: 12px;
	background: #eeeeee;
}

.menuContainer li a, .menuContainer li a:visited {
	/* position:relative; */
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #d8d8d8;
	text-decoration: none;
	color: #414242;
}

.menuContainer li.selectedMenuItem a, .menuContainer li a:hover {
	background: #fff;
	cursor: pointer;
	border-left: 3px solid #4ab3e8;
}

.menuContainer li.selectedMenuItem a {
	color: #1194d6 !important;
	font-weight: bold;
}

.menuContainer li a:hover, .menuContainer li a:active {
	color: #1194d6;
}

.menuContainer li a .menuIcon {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin: 5px 8px;
}

.menuContainer li.selectedMenuItem a .menuIcon, .menuContainer li a:hover .menuIcon
	{
	background-position: 0px -25px;
}
/* E-左侧菜单样式 */

/* S-操作按钮样式 */
.e-tab-tools .l-btn {
	padding: 0;
}

.e-tab-tools .l-btn span.l-btn-left {
	background: none;
}

.e-tab-tools #saveTool {
	width: 75px;
	height: 25px;
	background: none;
	border: none;
	background: url(../htbmImage/business/op_save1.png) no-repeat;
}

.e-tab-tools #printTool {
	width: 75px;
	height: 25px;
	background: none;
	border: none;
	background: url(../htbmImage/business/op_print1.png) no-repeat;
}

.e-tab-tools #printTool2 {
	width: 120px;
	height: 25px;
	background: none;
	border: none;
	background: url(../htbmImage/business/op_print2.png) no-repeat;
}

.e-tab-tools #closeTool {
	width: 75px;
	height: 25px;
	background: none;
	border: none;
	background: url(../htbmImage/business/op_close1.png) no-repeat;
}
/* E-操作按钮样式 */

/* S-业务表格样式 */
.table {
	width: 100%;
	border-left-width: 0px;
	border-collapse: collapse;
	border-right-width: 0px;
	/* table-layout: fixed; */
}

.table tr {
	height: 25px;
}

.table td {
	padding: 5px;
}

.table td.label {
	width: 100px;
	text-align: center;
	padding-right: 10px;
}

.table_child {
	width: 100%;
	border-left-width: 0px;
	border-collapse: collapse;
	border-right-width: 0px
}

.table_child tr {
	height: 25px;
}

.table_child td {
	padding: 0px;
}

.table input[type="text-underline"] {
	color: #005aa7;
	border-bottom: 1px solid #005aa7;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background-color: transparent;
}
/* E-业务表格样式 */

/* S-提交表单样式 */
.submitForm {
	margin: 0;
	padding: 20px 20px;
}

.submitFormItem {
	margin-left: 15px;
	margin-bottom: 15px;
}

.submitFormTitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.submitFormItem label {
	display: inline-block;
	width: 70px;
}

.submitFormItem input {
	/* height: 20px;
	line-height: 20px; */
}
/* E-提交表单样式 */

/* S-查询表单样式 */
.searchForm {
	margin: 0;
	padding: 20px 20px;
}

.searchFormTitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.searchFormItem {
	margin-left: 15px;
	margin-bottom: 15px;
}

.searchFormItem label {
	display: inline-block;
	width: 70px;
}

/* E-查询表单样式 */
input, label {
	vertical-align: middle;
	/* padding-left: 5px; */
}

/* E ==============================业务样式============================== */